/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
html, body {
  background-color: #362334;
}

/* ng-select boxes on group page with dark background */
.ng-select.custom .ng-select-container .ng-value-container .ng-placeholder {
  color: white;
}

.ng-select.custom .ng-value-container {
  color: white;
}

.ng-select.custom .ng-select-container:after {
  border-bottom: 1px solid white;
}

.ng-select.custom .ng-clear {
  color: white;
}

.ng-select.custom .ng-arrow {
  color: white;
}
