    <!-- Main -->
    <div class="view">
        <div class="three-fourths-bg-img">
            <div class="mask rgba-black-strong flex-center">
                <div class="container">
                    <div class="white-text text-center wow fadeInUp">
                        <h2>Raidy Check</h2>
                        <h5>The advanced ready check for your group</h5>
                        <br>
                        <button class="btn primary-color-dark waves-light" mdbWavesEffect type="button">Login With Bnet</button>
                        <button class="btn btn-dark-green waves-light" mdbWavesEffect type="button">About</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- /.Main -->
    <!--Main Layout-->
    <main class="text-center py-5 mt-3">
      <div class="container">

          <section class="mt-lg-5">

                <!--Grid row-->
                <div class="row">
            
                    <!--Grid column-->
                    <div class="col-xl-4 col-md-6 mb-r mb-2">
            
                        <!--Card-->
                        <div class="card card-cascade cascading-admin-card wow fadeInUp">
            
                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-file-excel-o success-color-dark"></i>
                                <div class="data">
                                    <p>Coming Soon</p>
                                    <h4><strong>Export to a CSV File</strong></h4>
                                </div>
                            </div>
                            <!--/.Card Data-->
            
                            <!--Card content-->
                            <div class="card-body">
                                <!--Text-->
                                <p class="card-text">
                                    Export your group to a CSV file to open in Excel. You will be able to track each character however you like.
                                </p>
                            </div>
                            <!--/.Card content-->
            
                        </div>
                        <!--/.Card-->
            
                    </div>
                    <!--Grid column-->
            
                    <!--Grid column-->
                    <div class="col-xl-4 col-md-6 mb-r mb-2">
            
                        <!--Card-->
                        <div class="card card-cascade cascading-admin-card wow fadeInUp">
            
                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-table unique-color"></i>
                                <div class="data">
                                    <p>Groups of Characters</p>
                                    <h4><strong>Compare Characters</strong></h4>
                                </div>
                            </div>
                            <!--/.Card Data-->
            
                            <!--Card content-->
                            <div class="card-body">
                                <!--Text-->
                                <p class="card-text">
                                    Compare characters in your group side by side to see if they're ready for your opponent. 
                                    See their iLvl and which gear they need to upgrade to be apart of your group.
                                </p>
                            </div>
                            <!--/.Card content-->
            
                        </div>
                        <!--/.Card-->
            
                    </div>
                    <!--Grid column-->
            
                    <!--Grid column-->
                    <div class="col-xl-4 col-md-6 mb-r mb-2">
            
                        <!--Card-->
                        <div class="card card-cascade cascading-admin-card wow fadeInUp">
            
                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-clock-o light-blue lighten-1"></i>
                                <div class="data">
                                    <p>Persistent Groups</p>
                                    <h4><strong>Save Time</strong></h4>
                                </div>
                            </div>
                            <!--/.Card Data-->
            
                            <!--Card content-->
                            <div class="card-body">
                                <!--Text-->
                                <p class="card-text">
                                    Never rebuild your group if you log out. The groups you create will stay linked to your account
                                    so you don't have to find all the characters again.
                                </p>
                            </div>
                            <!--/.Card content-->
            
                        </div>
                        <!--/.Card-->
            
                    </div>
                    <!--Grid column-->
            
                </div>
                <!--Grid row-->
            
            </section>
            <div class="mt-lg-5">
                <div class="row">
                    <div class="col-md-12">
                        
                        <h1>About Raidy Check</h1>
                        <p align="justify">
                            Raidy Check is design to help you manage your group. You will be able to compare characters side by side to see who is ready and who is not.
                            You may set iLvl caps to see which characters (or individual pieces of gear) are ready to fight along side you. Create multiple groups for your mythic dungeons
                            or your different guild runs.
                        </p>
                        <p align="justify">
                            You may also see groups that other players have set up. You will be able to favorite these groups so that you don't need to search for them again.
                            Go ahead and share the groups that you have created and showoff how awesome your group is doing.
                        </p>
        
                    </div>
                </div>
            </div>
      </div>
    </main>
    <!--Main Layout-->
