<main class="text-center py-5 mt-3">
    <div class="container">

        <section class="mt-lg-5">

            <!--Grid row-->
            <div *ngIf="!isLoading" class="row">

                <!--Grid column-->
                <div *ngFor="let group of user.groups.personal" class="col-xl-12 mb-r mb-2">

                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">

                        <!--Card Data-->
                        <div class="admin-up">
                            <div class="float-left">
                                <img src={{user.image}} alt="User image" class="img-fluid">
                            </div>
                            <div class="data float-left ml-5">
                                <p class="text-left">{{user.bnet.battletag | titlecase }}</p>
                                <h4>
                                    <strong>{{user.groups.personal[0].title}}</strong>
                                </h4>
                            </div>
                        </div>
                        <!--/.Card Data-->

                        <!--Card content-->
                        <div class="card-body">
                            <div *ngFor="let char of group.characters">
                                <div class="media">
                                    <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="character image">
                                    <div class="media-body">
                                        <h5 class="mt-0" align="justify">{{char.cid.name}} - {{char.iLvl}}</h5>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <ul class="gear">
                                                    <li class="gear mainHand">
                                                        <div class="slot" [ngClass]="isEmpty">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear offHand" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear head" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear neck" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear shoulder" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear back" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear chest" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear wrist" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear hands" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear waist" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear legs" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear feet" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear finger1" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear finger2" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear trinket1" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                    <li class="gear trinket2" [ngClass]="isEmpty">
                                                        <div class="slot" [ngClass]="">
                                                            <a href="">
                                                                <img src="">
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
    </div>
</main>