.card {
  background-color: rgb(19, 9, 22);
  color: rgba(255, 255, 255, 0.9)
}

.cascading-admin-card {
  margin-top: 20px; }
  .cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px; }
    .cascading-admin-card .admin-up .fa {
      margin-right: 1rem;
      // background-color: rgba(196, 186, 186, 0.555);
      // border-radius: 3px;
      font-size: 2rem;
      color: #fff;
      text-align: left;
    }
    .cascading-admin-card .admin-up .data {
      margin-top: 2rem; }
      .cascading-admin-card .admin-up .data p {
        color: #999999;
        font-size: 12px; }

.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem; }
  .classic-admin-card .card-body p {
    font-size: 13px;
    opacity: 0.7;
    margin-bottom: 0; }
  .classic-admin-card .card-body h4 {
    margin-top: 10px; }
  .classic-admin-card .card-body .float-right .fa {
    font-size: 3rem;
    opacity: 0.5; }


// .cascading-admin-card .admin-up .fa {
//   -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
//   box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
// }
.cascading-admin-card .admin-up .fa-star {
  color: rgb(255, 255, 0);
}

.cascading-admin-card .admin-up .fa:hover {
  color: rgb(255, 255, 0); 
}

img {
  vertical-align: baseline;
}

ul.gear li img {
  width: 48px;
  height: 48px;
}

ul.gear {
  list-style-type: none;
  margin-bottom: .3rem;
}

ul.gear li {
  display: inline-block;
  width: 48px;
  margin: 0 2px;
  position: relative;
}

.slot {
  width: 48px;
  height: 48px;
  background: url("https://images.raidycheck.com/gear-slots.png")no-repeat center center;
}

ul.gear li.empty {
  position: relative;
  top: -17px;
}

ul.gear li.mainHand .slot {
  background-position: 0 -611px;
}

ul.gear li.offHand {
  margin-right: 51px;
}

ul.gear li.offHand:after {
  content: '';
  height: 65px;
  width: 1px;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 75px;
  top: -8px;
}

ul.gear li.offHand .slot {
  background-position: 0 -658px;
}

ul.gear li.head .slot {
  background-position: 0 0;
}

ul.gear li.neck .slot {
  background-position: 0 -49px;
}

ul.gear li.shoulder .slot {
  background-position: 0 -94px;
}

ul.gear li.back .slot {
  background-position: 0 -141px;
}

ul.gear li.chest .slot {
  background-position: 0 -141px;
}

ul.gear li.wrist .slot {
  background-position: 0 -282px;
}

ul.gear li.hands .slot {
  background-position: 0 -329px;
}

ul.gear li.waist .slot {
  background-position: 0 -376px;
}

ul.gear li.legs .slot {
  background-position: 0 -423px;
}

ul.gear li.feet .slot {
  background-position: 0 -470px;
}

ul.gear li.finger1 .slot {
  background-position: 0 -517px;
}

ul.gear li.finger2 .slot {
  background-position: 0 -517px;
}

ul.gear li.trinket1 .slot {
  background-position: 0 -564px;
}

ul.gear li.trinket2 .slot {
  background-position: 0 -564px;
}

ul.gear li .slot.q0 {
  box-shadow: 0 0 0 1px #9b9b9b, 0 0 2px #9b9b9b;
}

ul.gear li .slot.q1 {
  box-shadow: 0 0 0 1px #fffef4, 0 0 2px #fffef4;
}

ul.gear li .slot.q2 {
  box-shadow: 0 0 0 1px #11fc5f, 0 0 2px #11fc5f;
}

ul.gear li .slot.q3 {
  box-shadow: 0 0 0 1px #0281ff, 0 0 2px #0281ff;
}

ul.gear li .slot.q4 {
  box-shadow: 0 0 0 1px #c600ff, 0 0 4px #c600ff;
}

ul.gear li .slot.q5 {
  box-shadow: 0 0 0 1px #ff8002, 0 0 12px #ff8002;
}

ul.gear li .slot.q6 {
  box-shadow: 0 0 0 1px #e5cc80, 0 0 12px #e5cc80;
}

