<main class="text-center py-5 mt-3">
    <div class="container">

        <section class="mt-lg-5">

            <!--Grid row-->
            <div *ngIf="!isLoading" class="row">

                <!--Grid column-->
                <div class="col-xl-12 mb-r mb-2">

                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">

                        <!--Card Data-->
                        <div class="admin-up">
                            <div class="float-left">
                                <!-- <img src={{user.image}} alt="User image" class="img-fluid"> -->
                                <img src="https://render-us.worldofwarcraft.com/character/kiljaeden/147/174734227-inset.jpg" alt="User image" class="img-fluid rounded" style="width: 200px">
                            </div>
                            <i *ngIf="!isFavorited" (click)="onFavoriteGroup()" class="fa fa-star-o mt-5 float-right" mdbTooltip="Favorite this Group" placement="top"></i>
                            <i *ngIf="isFavorited" (click)="onFavoriteGroup()" class="fa fa-star mt-5 float-right" mdbTooltip="Unfavorite this Group" placement="top"></i>
                            <div class="data float-left ml-5">
                                <p class="text-left">{{user.bnet.battletag | titlecase }}</p>
                                <h4>
                                    <strong>{{currentGroup.title}}</strong>
                                </h4>
                            </div>
                        </div>
                        <!--/.Card Data-->

                        <!--Card content-->
                        <div class="card-body">
                            <div *ngFor="let char of currentGroup.characters">
                                <div class="media">
                                    <img class="d-flex rounded mr-3" src="https://render-us.worldofwarcraft.com/character/{{char.thumbnail}}">
                                    <div class="media-body">
                                        <h5 class="mt-0" align="justify">{{char.cid.name}} - {{char.iLvl}}</h5>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <ul class="gear">
                                                        <li *ngFor="let slot of slots" class="gear {{slot}}" [ngClass]="!char.items[slot]?.icon ? 'empty' : '' ">
                                                            <div class="slot q{{char.items[slot]?.quality}}">
                                                                <a *ngIf="char.items[slot]?.icon" href="//www.wowhead.com/item={{char.items[slot].id}}/lvl={{char.level}}&amp;ench={{char.items[slot].tooltipParams.enchant}}&amp;gems={{char.items[slot].tooltipParams.gem0}}:{{char.items[slot].tooltipParams.gem1}}:{{char.items[slot].tooltipParams.gem2}}&amp;ilvl={{char.items[slot].itemLevel}}&amp;pcs={{char.items[slot].tooltipParams.set | separateArray:':'}}&amp;bonus={{char.items[slot].bonusLists | separateArray:':'}}"  
                                                                    target="_blank">
                                                                    <img src="{{char.items[slot]?.icon}}">
                                                                </a>
                                                            </div>
                                                            <span *ngIf="char.items[slot]?.itemLevel" style="font-size: 10px">{{char.items[slot].itemLevel}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
    </div>
</main>