<!-- Sidemenu -->
<div *ngIf="authService.loggedIn()" class="sidebar position-fixed" [ngClass]="isSidebarClosed ? 'sidebar-hide' : ''">

  <button (click)="onSidebarOpenClose()" type="button" class="close mt-2 float-right" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Personal Groups List -->
  <h3 class="text-center title mt-2">
    Your Groups
  </h3>
  <hr>
  <div class="list-group">
    <div *ngIf="!isLoading" class="text-left list-group-flush">
      <a *ngFor="let group of user.groups.personal" (click)="onSidemenuGroupClick(group._id)" routerLink="/group/{{group._id}}"
        [routerLinkActive]="['active']" class="list-group-item list-group-item-action waves-effect">
        {{group.title}}
      </a>
    </div>
  </div>
  <!-- Personal Groups List -->

  <!-- Favorite Groups List -->
  <h3 class="text-center title mt-5">
    Favorite Groups
  </h3>
  <hr>
  <div class="list-group">
    <div *ngIf="!isLoading" class="list-group-flush">
      <a *ngFor="let group of user.groups.favorites" (click)="onSidemenuGroupClick(group._id)" routerLink="/group/{{group._id}}"
        [routerLinkActive]="['active']" class="list-group-item list-group-item-action waves-effect">
        {{group.title}}
      </a>
    </div>
  </div>
  <!-- Favorite Groups List -->

</div>
<!-- end Sidemenu -->

<!--Modal: Create New Group Form-->
<div *ngIf="!isLoading && authService.loggedIn()" mdbModal #modalNewGroup="mdb-modal" class="modal fade" id="modalNewGroup"
  tabindex="-1" role="dialog" aria-labelledby="NewGroupModal" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header success-color white-text">
        <h4 class="title">
          <i class="fa fa-group"></i> Create A New Group
        </h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="onModalNewGroupClose()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0">
        <form [formGroup]="newGroupForm">
          <div class="md-form form-sm">
            <i class="fa fa-group prefix"></i>
            <input mdbInputDirective [mdbValidate]="false" [ngClass]="newGroupForm.controls.name.errors ? 'counter-danger' : 'counter-success'"
              type="text" id="name" data-error="Must be between 3 and 20 characters" data-success="Valid" formControlName="name"
              autofocus class="form-control">
            <label for="name">Name</label>
            <span [ngClass]="newGroupForm.controls.name.errors ? 'text-danger' : 'text-success'" class="inputVal">
              {{newGroupForm.controls.name.errors ? 'Must be between 3 and 20 characters' : 'Valid'}}
            </span>
          </div>

          <div class="form-sm pt-3 pb-2">
            <h5>Allow others to see this group
              <span style="font-size: 10px">(Default: Public)</span>
            </h5>
            <div class="btn-group">
              <label class="btn btn-primary waves-light" formControlName="public" mdbRadio="true" mdbWavesEffect>
                Public
              </label>
              <label class="btn btn-primary waves-light" formControlName="public" mdbRadio="false" mdbWavesEffect>
                Private
              </label>
            </div>
          </div>

          <div class="form-sm pt-2 pb-2">
            <h5>Allow others to update characters
              <span style="font-size: 10px">(Default: No)</span>
            </h5>
            <div class="btn-group">
              <label class="btn btn-primary waves-light" formControlName="allowOthersToUpdateCharacters" mdbRadio="true" mdbWavesEffect>
                Yes
              </label>
              <label class="btn btn-primary waves-light" formControlName="allowOthersToUpdateCharacters" mdbRadio="false" mdbWavesEffect>
                No
              </label>
            </div>
          </div>

          <div class="text-center mt-1-half">
            <button [ngClass]="newGroupForm.controls.name.errors || isProcessing ? 'disabled' : ''" (click)="onAddNewGroup()" class="btn btn-info mb-2 waves-light"
              mdbWavesEffect>
              Create Group<i class="fa fa-send ml-1"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Create New Group Form-->

<!-- Modal: Add New Chars -->
<div *ngIf="!isLoading && authService.loggedIn()" mdbModal #modalAddChars="mdb-modal" class="modal fade right" id="fullHeightModalRight"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog pb-5 modal-full-height modal-right" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header deep-orange white-text">
        <h4 class="modal-title w-100" id="myModalLabel">
          <i class="fa fa-user-plus"></i> Add Characters
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalAddChars.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- Header -->

      <div class="modal-body">

      <!-- Loader Spinner -->
      <div class="flex-center">
        <div *ngIf="isProcessing" class="text-center loader">
        </div>
      </div>
      <!-- Loader Spinner -->

        <!-- Form -->
        <form [formGroup]="addCharacterForm">
          <div class="form-sm pb-2 text-center">
            <h5 class="text-center title mb-2">Select a Region</h5>
            <div class="btn-group">
              <label class="btn btn-primary waves-light" formControlName="region" mdbRadio="us" mdbWavesEffect>
                US
              </label>
              <label class="btn btn-primary waves-light" formControlName="region" mdbRadio="eu" mdbWavesEffect>
                EU
              </label>
            </div>
            <button [ngClass]="{ 'd-none': counterAddCharacterForm >= maxAddCharacterForm }" class="btn btn-success btn-sm float-right waves-light"
              mdbTooltip="Add More Characters" placement="top" (click)="onAddCharacterToForm()" type="button" mdbWavesEffect>
              <i class="fa fa-plus"></i>
            </button>
          </div>

          <div class="md-form form-sm input-group ml-3">
            <div formArrayName="characters">
              <div *ngFor="let form of addCharacterForm.controls.characters.controls; let i=index">
                <div [formGroupName]="i" class="row">
                  <div class="col-md-10">
                    <div class="row">
                      <i class="fa fa-user prefix grey-text"></i>
                      <input type="text" id="name" [mdbValidate]="false" formControlName="name" class="form-control" autofocus mdbInputDirective>
                      <label for="name">Character Name</label>
                    </div>
                    <div class="row">
                      <ng-select class="select-chars" [items]="realms" bindLabel="realm" placeholder="Character Realm" formControlName="realm">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-secondary btn-sm waves-light" (click)="onRemoveCharacterFromForm(i)" type="button" mdbWavesEffect>
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Form -->

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="onModalAddCharsClose" mdbWavesEffect>Close</button>
        <button [ngClass]="addCharacterForm.controls.region.errors || isProcessing ? 'disabled' : ''" (click)="onAddNewCharacters()"
          type="button" class="btn btn-primary waves-light" mdbWavesEffect>
          Add Characters<i class="fa fa-send ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: Add New Chars -->

<main class="text-center py-5 mt-3" [ngClass]="isSidebarClosed ? 'main-sidebar-hide' : ''">

  <div class="group-container">

    <div class="row">
      <div class="col-12">
        <div class="float-left">
          <button *ngIf="authService.loggedIn()" (click)="onSidebarOpenClose()" type="button" class="btn btn-sm btn-default waves-light"
            mdbWavesEffect>
            <i class="fa fa-bars mr-1"></i>{{isSidebarClosed ? 'Show Groups' : 'Hide Groups'}}
          </button>
          <button *ngIf="!isLoading && authService.loggedIn()" (click)="onModalNewGroupOpen()" type="button" class="btn btn-sm btn-success waves-light"
            mdbWavesEffect>
            <i class="fa fa-group mr-1"></i>Create New Group
          </button>
          <button *ngIf="!isLoading && authService.loggedIn() && user.bnet.battletag === currentGroup.owner" (click)="onModalAddCharsOpen()"
            type="button" class="btn btn-sm btn-deep-orange waves-light" mdbWavesEffect>
            <i class="fa fa-user-plus mr-1"></i>Add Characters To Group
          </button>
        </div>
        <div class="float-right btn-excel">
          <button type="button" class="btn btn-sm success-color-dark waves-light" mdbWavesEffect disabled>
            <i class="fa fa-file-excel-o mr-1"></i>Export to Excel
          </button>
        </div>
      </div>
    </div>

    <section class="mt-lg-5">

      <!-- Loader Spinner -->
      <div class="flex-center">
        <div *ngIf="isLoading" class="text-center loader">
        </div>
      </div>
      <!-- Loader Spinner -->

      <!--Grid row-->
      <div *ngIf="!isLoading" class="row">

        <!--Grid column-->
        <div class="col-xl-12 mb-r mb-2">

          <!--Card-->
          <div class="card card-cascade cascading-admin-card">

            <!--Card Data-->
            <div class="admin-up">
              <div class="float-left">
                <img src="http://localhost:8080/{{currentGroup.image}}" alt="User image" class="img-fluid rounded" style="width: 200px">
              </div>
              <div class="row text-left">
                <div class="col-md-4">
                  <p>{{currentGroup.owner | titlecase }}</p>
                </div>
                <div class="col-md-4">
                  <p>This group is {{currentGroup.isPublic ? 'public' : 'private'}}</p>
                </div>
                <div class="col-md-4">
                  <p>Other people {{currentGroup.allowOthersToUpdateCharacters ? 'can' : 'can\'t'}} update characters</p>
                </div>
              </div>
              <i *ngIf="!isFavorited" (click)="onFavoriteGroup()" class="fa fa-star-o float-right" mdbTooltip="Favorite this Group" placement="top"></i>
              <i *ngIf="isFavorited" (click)="onFavoriteGroup()" class="fa fa-star float-right" mdbTooltip="Unfavorite this Group" placement="top"></i>
              <div class="data float-left ml-3">
                <h4>
                  <strong>{{currentGroup.title}}</strong>
                </h4>
              </div>
            </div>
            <!--/.Card Data-->

            <!--Card content-->
            <div class="card-body">
              <!-- Group avgIlvl row -->
              <div class="row">
                <div class="col-xl-7 col-md-6">
                  <div class="float-left">
                    Group average iLvl
                    <strong [style.color]="averageGroupIlvl >= iLvlRequirement ? '#689f38' : '#d50000'" style="font-size: 20px">{{averageGroupIlvl | number}}</strong>
                  </div>
                  <div class="md-form float-right iLvl-form">
                    <input mdbInputDirective [mdbValidate]="false" type="text" name="iLvlRequirement" [(ngModel)]="iLvlRequirement" id="iLvlRequirement"
                      class="form-control">
                    <label for="iLvlRequirement" class="">Required iLvl</label>
                  </div>
                </div>

                <!-- Spacing Column -->
                <div class="col-xl-2">
                </div>
                <!-- Spacing Column -->

                <!-- Raid Dropdowns -->
                <div class="col-xl-3 col-md-4 mb-2" style="display: inline">
                  <ng-select class="custom" 
                    [items]="raids" 
                    bindLabel="name" 
                    (change)="setNumberOfBosses()" 
                    placeholder="Select a raid" 
                    [(ngModel)]="selectedRaid">
                  </ng-select>
                  <ng-select class="custom" 
                    [items]="difficulties" 
                    placeholder="Select a difficultiy" 
                    [(ngModel)]="selectedDifficulty">
                  </ng-select>
                </div>
                <!-- Raid Dropdowns -->

              </div>
              <!-- Group avgIlvl row -->

              <!-- Character -->
              <div *ngFor="let char of currentGroup.characters; let i = index;">
                <div class="media">
                  <img class="d-flex rounded f{{char.faction}} mr-3" src="https://render-us.worldofwarcraft.com/character/{{char.thumbnail}}">
                  <div class="media-body">
                    <h5 class="mt-0" align="justify">{{char.cid.name}} - {{char.cid.realm}}
                      <span [style.color]="char.iLvl >= iLvlRequirement ? '#689f38' : '#d50000'"> {{char.iLvl}}</span>
                      <span style="font-size: 10px" class="ml-4">Last Updated - {{char.lastUpdated | date: 'long'}}</span>
                    </h5>
                    <div class="slots-container">
                      <div class="row">
                        <div [ngClass]="currentGroup.allowOthersToUpdateCharacters || user?.bnet.battletag == currentGroup.owner ? 'col-md-6' : 'col-md-8'" class="col-xl-9">
                          <ul class="gear">
                            <li *ngFor="let slot of slots" class="gear {{slot}}" [ngClass]="!char.items[slot]?.icon ? 'empty' : '' ">
                              <div class="slot q{{char.items[slot]?.quality}}">
                                <a *ngIf="char.items[slot]?.icon" href="//www.wowhead.com/item={{char.items[slot].id}}/lvl={{char.level}}&amp;ench={{char.items[slot].tooltipParams.enchant}}&amp;gems={{char.items[slot].tooltipParams.gem0}}:{{char.items[slot].tooltipParams.gem1}}:{{char.items[slot].tooltipParams.gem2}}&amp;ilvl={{char.items[slot].itemLevel}}&amp;pcs={{char.items[slot].tooltipParams.set | separateArray:':'}}&amp;bonus={{char.items[slot].bonusLists | separateArray:':'}}"
                                  target="_blank">
                                  <img src="http://localhost:8080/{{char.items[slot]?.icon}}">
                                </a>
                              </div>
                              <span *ngIf="char.items[slot]?.itemLevel" [style.color]="char.items[slot].itemLevel >= iLvlRequirement ? '#689f38' : '#d50000'"
                                style="font-size: 10px">{{char.items[slot].itemLevel}}</span>
                            </li>
                          </ul>
                        </div>

                        <!-- Progression -->
                        <div [ngClass]="currentGroup.allowOthersToUpdateCharacters || user?.bnet.battletag == currentGroup.owner ? 'col-xl-2 col-md-3' : 'col-xl-3 col-md-4'">
                          <ng-template #popBossKillCount>
                            <div class="p-2">
                              <div class="text-left">
                                <h5>{{char.raids[selectedRaid.id].name}}</h5>
                                <h6>{{char.cid.name}} - {{selectedDifficulty | titlecase}}</h6>
                              </div>
                              <hr style="border-bottom: 1px solid white;">
                              <div *ngFor="let boss of char.raids[selectedRaid.id].bosses">
                                <p class="text-left" [style.color]="boss[selectedDifficulty + 'Kills'] > 0 ? '#689f38' : '#d50000'" style="font-size: 10px">
                                  {{boss[selectedDifficulty + 'Kills']}} x - {{boss.name}}
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <div *ngIf="selectedRaid && selectedDifficulty" [mdbTooltip]="popBossKillCount" placement="top">
                            <div class="progress">
                              <div class="progress-bar" [ngClass]="((char.raids[selectedRaid.id][selectedDifficulty + 'Progress'] / numberOfBosses) * 100) > 50 ? 'light-green darken-2' : 'red accent-4'"
                                role="progressbar" [style.width.%]="(char.raids[selectedRaid.id][selectedDifficulty + 'Progress'] / numberOfBosses) * 100"
                                aria-valuenow="{{(char.raids[selectedRaid.id][selectedDifficulty + 'Progress'] / numberOfBosses) * 100}}"
                                aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--Text-->
                            <p class="pt-3">{{char.raids[selectedRaid.id][selectedDifficulty + 'Progress']}} out of {{numberOfBosses}} defeated</p>
                          </div>
                        </div>
                        <!-- Progression -->

                        <!-- Update and Remove buttons -->
                          <div *ngIf="currentGroup.allowOthersToUpdateCharacters || user?.bnet.battletag == currentGroup.owner" class="col-xl-1">
                            <button [ngClass]="isProcessing ? 'disabled' : ''" class="btn btn-secondary btn-sm mt-0 waves-light"
                              mdbTooltip="Update Character" placement="top" (click)="onUpdateCharacter(char._id)" type="button"
                              mdbWavesEffect>
                              <i class="fa fa-refresh"></i>
                            </button>
                            <button *ngIf="user?.bnet.battletag == currentGroup.owner" [ngClass]="isProcessing ? 'disabled' : ''" class="btn btn-danger btn-sm waves-light" mdbTooltip="Remove from Group"
                              placement="top" (click)="onRemoveCharacter(char._id)" type="button" mdbWavesEffect>
                              <i class="fa fa-remove"></i>
                            </button>
                          </div>
                        <!-- Update and Remove buttons -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Character -->

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
  </div>
</main>