<div class="container">
  <div class="flex-center">
    <div class="text-center">
      <h2 class="h2-responsive">Raidy Check</h2>
      <h5 class="h5-responsive">We only store your <em>battletag</em>, <em>user id</em>, and <em>character information</em>.</h5>
      <hr>
      <a class="btn primary-color-dark waves-light" mdbWavesEffect href="https://raidycheck.localtunnel.me/api/auth/bnet?region=us" type="button">Americas (US)</a>
      <a class="btn primary-color-dark waves-light" mdbWavesEffect href="https://raidycheck.localtunnel.me/api/auth/bnet?region=eu" type="button">Europe (EU)</a>
      <h6 class="mt-3" style="font-size: 12px">Visit the <a href="https://us.battle.net/account/management/authorizations.html">authorizations page on battle.net</a> to disconnect from Raidy Check</h6>
    </div>
  </div>
</div>