<div class="container">
  <div class="flex-center">
    <div class="text-center">
      <h2 class="h2-responsive">Choose Your Main</h2>
      <h5 class="h5-responsive">Their icon will become your icon.</h5>
      <p class="mt-3" style="font-size: 12px">This can be changed later.</p>
    </div>
  </div>
</div>
<div class="character-container">
    <div *ngIf="isProcessing" class="flex-center text-center">
        <h2 class="wow pulse infinite">Setting up your account...</h2>
    </div>
  <section *ngIf="!isLoading" class="mt-lg-5">

      <!--Grid row-->
      <div class="row">
        <div *ngFor="let char of user.bnet.personalCharacters; let i=index" class="col-xl-3 col-md-6 mb-r mb-2">
            <!--Grid column-->

                <!--Card-->
                <div (click)="onCharClick(char)" class="card card-cascade cascading-admin-card wow fadeInUp">

                    <!--Card Data-->
                    <div class="admin-up">
                        <div class="float-left">
                            <img src="https://render-us.worldofwarcraft.com/character/{{char.thumbnail}}" alt="User image" class="img-fluid">
                        </div>
                        <div class="data float-left ml-3">
                        <p class="text-left">{{char.guild}}</p>
                        <h5>
                            <strong>{{char.name}} - {{char.realm}}</strong>
                        </h5>
                        </div>
                    </div>
                    <!--/.Card Data-->

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->
        </div>
      <!--Grid row-->

  </section>
</div>


